* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #fffbfa;
  --primary: #54defd;
  --secondary: #00bd9d;
}
body {
  background-color: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, #0f0f0f87, #0000);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary);
  outline: 0;
  padding: 0.2rem;
  transition: all 0.2s;
}
nav ul li a:hover {
  color: var(--secondary);
}

.mycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 2rem;
}

.right {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  max-width: 20rem;
  background-color: #2222229c;
  padding: 2rem;
  box-shadow: -2px 4px 31px #00000069;
}

.login-box h3,
.login-box label {
  color: #fff;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn,
.btn:hover {
  background-color: var(--secondary);
  color: #fff;
  outline: none !important;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(0, 189, 157, 0.25);
}

.form-control,
.form-control:active,
.form-control:focus {
  background-color: #3535354f;
  color: #fff;
}

.form-control:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control::placeholder {
  color: #fff;
  opacity: 0.5;
}

.left {
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.left div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.left div img {
  max-width: 12rem;
  max-height: auto;
}

.left div h2 {
  font-size: 1.5rem;
  color: var(--secondary);
}

@media (max-width: 800px) {
  .left {
    display: none;
  }

  .mycontainer {
    display: flex;
    justify-content: center;
  }
}
