{%extends 'base.html'%} {%block title%}Search: text{%endblock%}{%block
template%}

<link rel="stylesheet" href="{{ url_for('static',filename='css/books.css')}}" />

<div class="main">
  <div class="search-box">
    <div>
      <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo" />
    </div>

    <input type="text" class="form-control" placeholder="Search your Book" />
    <div><button class="btn">Search</button></div>
  </div>
  <div class="results">
    <p>69 results found</p>
    <div class="boxs">
      <!-- card start -->
      <div class="mycard">
        <blockquote class="blockquote mb-0">
          <p>
            Krondor: The Betrayal | Raymond E. Feist
          </p>
          <footer class="blockquote-footer">
            Published on 1998 | ISBN 380795272
          </footer>
        </blockquote>
      </div>
      <!-- card end -->
    </div>
  </div>
</div>

{%endblock%}
