{%extends 'base.html'%} {%block title%}Search: {{q}}{%endblock%}{%block
template%}

<link rel="stylesheet" href="{{ url_for('static',filename='css/books.css')}}" />

<div class="main">
  <form action="/books">
    <div class="search-box">
      <div>
        <a href="{{url_for('search')}}">
          <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo"
        /></a>
      </div>

      <input
        type="text"
        class="form-control"
        placeholder="Search your Book"
        name="search"
        value="{{q}}"
      />
      <div><button class="btn">Search</button></div>
    </div>
  </form>
  <div class="results">
    <p>{{count}} results found for {{q}}</p>
    {%if message %}
    <div class="error">
      {{message}}
    </div>
    {%endif%}
    <div class="boxs row">
      {%if obj_books%} {% for book in obj_books %}
      <!-- card start -->
      <div class="col-md-6">
        <a href="{{url_for('book',isbn=book.isbn)}}">
          <div class="mycard">
            <blockquote class="blockquote mb-0">
              <p>
                {{book.title}} | {{book.author}}
              </p>
              <footer class="blockquote-footer">
                Published on {{book.year}} | ISBN {{book.isbn}}
              </footer>
            </blockquote>
          </div>
        </a>
      </div>
      <!-- card end -->
      {%endfor%} {%endif%}
    </div>
  </div>
</div>

{%endblock%}
